.mainButton {
  padding: 10px;
  font-size: 2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #ffffff;
  transition: all 0.3s;
}

.green {
  background-color: #14b270;
}

.red {
  background-color: #ce0c23;
}

.green:hover {
  background-color: #0e784c;
}

.red:hover {
  background-color: #9c091a;
}
